@model CaseStudy.Model.score

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>score</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.score_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.score_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.id_student)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.test)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.test.test_code)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_score" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
