@model CaseStudy.Model.question

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject.id_subject)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.answer_a)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.answer_a)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.answer_b)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.answer_b)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.answer_c)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.answer_c)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.answer_d)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.answer_d)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correct_answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correct_answer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_question" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
